<head>
 
</head>
<body>

<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">

      <li class="active" ><a routerLink="/publication">Publication</a></li>
      <li class="active" ><a routerLink="/creationPlan">Créer Plan</a></li>
      <li class="active" ><a routerLink="/creationPlan">Chat</a></li>
      <li class="active" ><a routerLink="/profil">Profil</a></li>


    </ul>
  </div>

</nav>

<div id="page-wrapper">
  <div id="page-inner">
    <div class="row">

      <h1><u>Mon Profil:</u></h1>
      <div class="col-md-8 col-sm-8 col-xs-8">
        <div class="panel panel-danger">
          <div class="panel-heading">

          </div>
          <div class="panel-body">

            <div class="form-group">
              <label>Titre</label>
              <input class="form-control" type="text" [(ngModel)]="nouvPlan.titre">
            </div>
            <div class="form-group">
              <label>Date</label>
              <input class="form-control" type="date" [(ngModel)]="nouvPlan.daty">
            </div>
            <div class="form-group">
              <label>Centre d'interêt</label>
              <select [(ngModel)]="nouvPlan.idinteret">
                <option *ngFor="let interet of interets" value="{{interet.id}}">{{interet.valeur}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Lieu</label>
              <select [(ngModel)]="nouvPlan.idadresse">
                <option *ngFor="let lie of lieux" value="{{lie.id}}">{{lie.lieu}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Participation</label>
              <input class="form-control" type="text" [(ngModel)]="nouvPlan.paff">
            </div>
            <div class="form-group">
              <label>Detail</label>
              <input class="form-control" type="text" [(ngModel)]="nouvPlan.detail">
            </div>
            <button (click)="creer()" class="btn btn-danger">Créer </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
