
  
  <div class="page-content container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-wrapper">
          <div class="already">
            <div style="text-align:center">
              <img width="300" alt="Angular Logo" src="/assets/img/logoPlaninona.PNG">
            </div>
            <p> </p>
          </div>


          <div class="box">
            <div class="content-wrap">

              <h1>Bienvenue!</h1>
              <p>{{erreur}}</p>
              <input class="form-control" type="text" placeholder="E-mail *" name="mail" [(ngModel)]="userData.login">
              <input class="form-control" type="password" placeholder="Mot de passe *" name="pass" [(ngModel)]="userData.password">
              <button (click)="logins()" class="btn btn-primary">Se Connecter</button>

            </div>


            <a routerLink="">Mot de passe oublier</a> |
            <a routerLink="/signIn">S'inscrire</a>

            <!--<button (click)="goLogin()" class="btn btn-primary">Se Connecter</button>-->
            <!--<a routerLink="/signin">S'inscrire.</a>-->
            <!--<a href="" id="mdp">Mot de passe oubier.</a>-->
            <!--<nav>-->
            <!--<a routerLink="/signin">Heroes</a>-->
            <!--</nav>-->
            <!--<router-outlet></router-outlet>-->
          </div>
        </div>
      </div>
    </div>
  </div>
